<%- layout('layout')%>

<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <% if(message.length > 0) { %>  <!--error object 是存在的, length =0-->
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
                <%= message%>
            </div>
            <% } %>
            <form action="/add-category" method="post">
                <h1>Add a New Category</h1>
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Enter Category Name">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>