<% -layout('layout')%>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Ecommerce Shopping</h1>
        <p>Buy your favorite products here</p>
        <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Signup</a></p>
    </div>
</div>

<div class="container">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p class="text-center">Search和facebook登录功能暂不能用, 需在Heroku上布置, 敬请期待</p>
    </div>
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="/products/57a14a50d82f62e90b4969fc">
                    <img class="img-thumbnail" src="http://www.self.com/wp-content/uploads/2014/05/healthy-food-awards-header-600x420.jpg">
                        <h3 class="text-center">Food</h3>
                </a>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="/products/57a14d08cbceb9f90b6d7547">
                    <img class="img-thumbnail" src="http://i.ebayimg.com/00/s/NTY0WDg1MQ==/z/2f4AAMXQCZ1TcgAp/$_32.JPG?set_id=880000500F">
                    <h3 class="text-center">Clothes</h3>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="/products/57a14d35cbceb9f90b6d7548">
                    <img class="img-thumbnail" src="http://az616578.vo.msecnd.net/files/2016/04/28/635974526628760594-309475862_books.jpg">
                    <h3 class="text-center">Books</h3>
                </a>
            </div>
        </div>
    </div>
</div>